@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-drop-shadow {
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.5));
}

.animate-float {
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-14px);
	}
	100% {
		transform: translatey(0px);
	}
}

.fancy-br {
    border-radius: 100% 0% 100% 0% / 18% 100% 5% 82%;
}

.pokeball-cursor {
    cursor: url('/pokeball.png'), auto;
}